@media only screen and (max-width: 576px){

    .hide{
        display: none;
    }
 
    .nav-section, 
    .nav-list,
    .profile-container,
    .status,
    .column-decoration,
    .thesis-parent,
    .contact-texts{
        flex-direction: column;
        text-align: center;
    }
    .nav-list{
        gap: 1rem;
    }
    .status{
        margin-top: 50px;
        text-align: center;
    }
    .btn-social-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 80px 0;
    }
    .frame-collection{
        transform: rotate(-5.4deg);
    }
    .round-picture{
        width: 220px;
        height: 220px;
    }
    .circle-img{
        bottom: 13px;
        left: -6px;
    }
    .circle-img img{
        width: 220px;
    }
    .board-list{
        gap: 10px;
    }

    .about-me-section{
        background-color: #7c503553;
        padding: 24px 10px;
        flex-direction: column;
        text-align: center;
    }
    
   .informations p{
    width: 100%;
    margin-top: 20px;
   }
   .achievements-section, .Portfolio-links-here{
    flex-direction: column;  
   }
   .click-link{
    flex-direction: column;
    width: 119px;
   }
   .my-experience, .designer-showcases{
        width: 100%;
    }
    .achievements-section{
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    .award-bgc{
        flex-direction: column;
        padding: 24px 15px;
    }
    .website-research, .cards-website{
        padding-left: 10px;
    }
    .awards-section, .contact-section{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        padding: 30px 20px;
    }
    .address-section{
        height: 600px;
    }
}
/* medium devices */
@media only screen and (min-width: 577px) and (max-width: 993px){
    .profile-container, .thesis-parent{
        flex-direction: column;
    }
    .cards-website {
        width: auto;
    }
}