@media only screen and (max-width: 576px){

    .hide{
        display: none;
    }
 
    .nav-section, 
    .nav-list,
    .profile-container,
    .status,
    .column-decoration,
    .thesis-parent,
    .contact-texts{
        flex-direction: column;
        text-align: center;
    }
    .status{
        margin-top: 50px;
        text-align: center;
    }
    .btn-social-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 80px 0;
    }
    .board-list{
        gap: 10px;
    }

    .about-me-section{
        background-color: #7c503553;
        padding: 24px 10px;
        flex-direction: column;
        text-align: center;
    }
    
   .informations p{
    width: 100%;
    margin-top: 20px;
   }
   .achievements-section{
    flex-direction: column;  
    padding: 30px 10px;
    margin: 0;
   }
   .my-experience, .designer-showcases{
        width: 100%;
    }
    .achievements-section{
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    .award-bgc{
        flex-direction: column;
        padding: 24px 15px;
    }
    .website-research, .cards-website{
        padding-left: 10px;
    }
    .awards-section, .contact-section{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        padding: 30px 20px;
    }
    .address-section{
        height: 600px;
}