@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {--background: #1e1e1e;}
:root {--font-primary-color: white;}
:root {--background-text-color: #fd6f00;;}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open sans";
    background-color: var(--background);
    margin: 0 auto;
    max-width: 1265px;
}
.nav-section, .banner-section, .about-me-section, .my-experince, .awards-section, .my-portfolio-section{
    padding: 0 50px;
}
.contact-section{
    padding: 0 50px;
}
