@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {--background: #1e1e1e;}
:root {--font-primary-color: white;}
:root {--background-text-color: #fd6f00;;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open sans";
    background-color: var(--background);
}

/* nav-section starts here */
.nav-section{
    width: 90%;
    margin: 40px auto;
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-section > div{
    flex: 1;
}
.logo-option h1{
    color: #fd6f00;
    font-size: 2rem;
}    
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-list li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: var(--font-primary-color);
}
.download-button{
    text-align: end;
    background-color:var(--background-text-color);
    padding: 8px 12px;
    color: var(--font-primary-color);
}

/* nav-section ends here */

/* profile-section starts here */
.banner-section{
    width: 90%;
    margin: 80px auto 5px auto;
    color: var(--font-primary-color);
}
.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.desc-section{
    text-transform: uppercase;
}    
.desc-section h1{
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.desc-section h3{
    font-size: 1.6rem;
    font-weight: 700;
}
.star-creative{
    height: 25px;
}
.brief-bio{
    margin-top: 15px;
}
.status{
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-social-content{
    margin-top: 30px;
}
.Portfolio-button{
    width: 240px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10PX;
    border: 2px #a7a7a7;
    border-radius: 50px;
    background-color: #343434;
}
.left-button{
    width: 140px;
    padding: 10px, 20px, 10px, 20px;
    background-color: var(--background-text-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note a{
    text-decoration: none;
    color: var(--font-primary-color);
}
.up-right-icon{
    height: 33px;
}
.social-media-profile-link{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.box-img{
    position: relative;
    left: 0;
    top: 45px;
}
.circle-img{
    position: absolute;
    bottom: 15px;
    left: -8px;
    text-align: center;
}
.circle-img img{
    width: 340px;
}
.round-picture{
    width: 340px;
    height: 340px;
    border: 6px solid #b37b57;
    background-color: black;
    border-radius: 50%;
}

.frame-collection{
    border: 3px solid #b37b57;
    width: 90%;
    margin: 0 auto;
    /* transform: rotate(-5.90deg); */
    transform: rotate(-4.25deg);
    background-color: black;
}
.board-list{
    padding: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.board-list a{
    text-decoration: none;
    color: var(--font-primary-color);
}
.board-list img{
    width: 25px;
}

/* profile-section ends here */

/* about-me-section starts */
.about-me-section{
    width: 90%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.informations{
    font-family: "Rubik";
    text-transform: uppercase;
    color: var(--font-primary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.informations h1{
    font-size: 40px;
    font-weight: 800px;
}
.informations p{
    width: 60%;
    font-size: 13px;
    font-weight: 400px;

}
.career-goals{
    font-family: "Rubik";
    color: var(--font-primary-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.highlights img{
    height: 32px;
    width: 150px;
}
.skills{
    display: flex;
    flex-direction: column;
}
.years-knowledge h1{
    font-size: 1.8rem;
    width: 140px;
    font-weight: 700px;
}
.quality {
    text-align: end;
    width: 103px;
    font-size: 12px;
}
/* about-me-section ends */

/* achievements section starts */
.achievements-section{
    width: 90%;
    margin: 0 auto;
    background-image: url(./media/BG.png);
    color: var(--font-primary-color);
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 30px;
}
.my-experience{
    width: 50%;
}
.my-experience h1{
    margin: 6px 0;
}
.achievements-section h1{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.showcases-part{
    display: flex;
    gap: 8px;
}
.right-showcase-part{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.column-decoration{
    display: flex;
}
.design-title{
    font-size: 30px;
}
/* achievements section ends */

/* awards section starts */
.awards-section{
    width: 90%;
    margin: 120px auto;
}
.award-bgc{
    color: var(--font-primary-color);
    background-color: black;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;
}
.awards-title-head{
    font-family: "Rubik";
    text-align: center;
    color: var(--font-primary-color);
}
.awards-title-head h1{
    font-weight: 800;
    font-size: 1.8rem;
    padding-bottom: 10px;
}
.awards-title-head p{
    font-size: 13px;
}
.project-design-done h4{
    margin-bottom: 15px;
}
/* awards section ends */

/* portfolio section starts */
.my-portfolio-section{
    width: 90%;
    margin: 0 auto;
}
.sides-of-Portfolio{
    text-align: center;
    color: var(--font-primary-color);
}
.Portfolio-links-here{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sides-of-Portfolio h1{
    padding-bottom: 15px;
}
.click-link{
    text-decoration: none;
    color: var(--font-primary-color);
    background-color: black;
    padding: 10px 15px;
}
#web-design-link{
    text-decoration: none;
    color: var(--font-primary-color);
    background-color: var(--background-text-color);
    /* display: inline; */
    padding: 10px 15px;

}
.thesis-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.website-research{
    padding-left: 180px;
    background-color: black;
    height: 380px;
}
.website-research img{
    width: 300px;
    height: 297px;
}
.website-img-one{
    position: relative;

}
.website-img-two{
    position: relative;
    bottom: 218px;
    right: 100px;
}
.research-brief{
    color: var(--font-primary-color);
    padding-top: 40px;
}
.research-brief h2{
    margin: 20px 0;
}
.research-brief p{
    padding-bottom: 6px;
}
.cards-website{
    margin-top: 40px;
    padding-left: 180px;
    background-color: black;
    height: 394px;
    width: 52%;
}
.cards-website img{
    width: 250px;
    height: 354px;
}
.website-card-one{
    position: relative;
}
.website-card-two{
    position: relative;
    bottom: 318px;
    right: 80px;
}
/* portfolio section ends */

/* contact section starts */
.contact-section{
    width: 90%;
    margin: 80px auto;
}
.contact-headline{
    margin-top: 50px;
    color: var(--font-primary-color);
    text-align: center;
}

.contact-form{
    margin-top: 30px;
    padding: 50px;
    background-image: url(./media/BG\ 2.png);
    color: var(--font-primary-color);
}
.reach-out-things{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.contact-texts{
    display: flex;
    justify-content: space-between;
}
#fname, #email-id{
    outline: none;                
    background: transparent; 
    border: none;
    border-bottom: 1px solid white;
    width: 40%;
    color: white;
    font-size: 18px;
    padding-bottom: 15px;margin-top: 15px;
}
#for-message{
    outline: none;                
    background: transparent; 
    border: none;
    border-bottom: 1px solid white;
    width: 40%;
    color: white;
    font-size: 18px;
    padding-bottom: 40px;
    margin-top: 30px;
}
.file-leveling{
    font-size: 18px;
    font-weight: bold;
}
.file-leveling:hover{
    color: blue;
}
#myfile{
    display: none;
}
::placeholder{
    color: white;
}
.address-section{
    height: 400px;
    font-family: "Open Sans";
    font-weight: 900px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
}
/* contact section ends */

/* footer section starts*/
.footer-part{
    height: 100px;
    color: var(--font-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}    
/* footer section ends */